//Color settings
$primary-blue: rgba(16,14,74,1);
$primary-white: rgb(243, 251, 236);
$primary-gray: rgba(255, 255, 255, 0.9);
$primary-black: black;

//Gradients
$bg-gradient: linear-gradient(90deg, #48c6ef 0%, #6f86d6 100%);
$text-gradient: -webkit-linear-gradient(#434343, #000000);